/*----------- body / header / footer ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 

}
body
{
  background-color: #191924;
  font-family: "Ubuntu", sans-serif;
  background-image: linear-gradient(90deg, transparent 0%, transparent 88%,
  rgba(200, 200, 200,0.07) 88%, rgba(200, 200, 200,0.07) 93%,transparent 93%,
  transparent 100%), linear-gradient(135deg, transparent 0%, transparent 83%, 
  rgba(200, 200, 200,0.07) 83%, rgba(200, 200, 200,0.07) 91%,transparent 91%, 
  transparent 100%),linear-gradient(0deg, transparent 0%, transparent 43%, 
  rgba(200, 200, 200,0.07) 43%, rgba(200, 200, 200,0.07) 50%,transparent 50%, 
  transparent 100%),linear-gradient(135deg, transparent 0%,transparent 16%, 
  rgba(200, 200, 200,0.07) 16%, rgba(200, 200, 200,0.07) 56%,transparent 56%, 
  transparent 100%), linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
  font-size: 1.2em;
}

footer 
{
  background-color: #1f242d;; 
  color: white;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer i
{
  font-size: 2.5rem;
  color: black;
  background-color: #03CBDF;
}
header
{
  background-color: transparent;
  color: white;
  position: sticky;
  top:0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;

}
.logo
{
  width: 100px;
  border: 2px solid transparent;
}

/*---------- sections ------------*/

section
{
  color: white;
  padding: 80px 0;
}
.conteneur
{
  width: 100%;
  padding: 0 15px;
  max-width: 1350px;
  margin: 0 auto;
}
/* ------------ navigation ----------------- */

.navigation 
{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 30px 0 10px;
  width: 100%;
}
.nav-bar
{
  display: flex;
}

.accueil-intro
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5ms ease;

}
.presentation
{
  font-size: 1.3em;
}
.texte-js
{
  color: #03CBDF;
  font-weight: bolder;
}
.navigation.scrolled 
{
  background-color: #1f242d; 

}
/* -------- Acceuil ------ */
.title{
  margin-bottom: 30px;
  font-size: 52px;
  color: #03CBDF;
  text-align: center;
}

.suite
{
  display: none;
}
.suite.affiche
{
  display: block;
}
.bouton
{
  width: 200px;
  height: 70px;
  border: 1px solid #03CBDF;
  border-radius: 20px;
  background-color: #03CBDF;
  color: #222230;
  font-size: 1.1em;
  transition: all 0.3s 0.09s;  
  
}
.bouton:hover
{
  background-color: #222230;
  color: #03CBDF;
}
.img-anime
{
  display: flex;
  justify-content: space-between;
} 
#anime
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap:10px
}

/* --------- Animations Cercles ---------- */
.cercles 
{
    position: relative  ;
    left: 30%;
    top: 40%;
    height: 90%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.cercle
{
    position: absolute;
    background: transparent;
    width: calc(var(--i) * 2.5vmin);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid rgb(0,255,13);
    transform-style: preserve-3d;
    transform: rotateX(70deg),translateZ(50px);
    animation: anime 3s ease-in-out calc(var(--i)*0.08s) infinite;
    box-shadow: 0 0 15px rgb(124, 124, 124), inset 0 0 15px rgb(124, 124, 124); 
}
@keyframes anime {
    0%,
    100% {
        transform: rotateX(70deg) translateZ(50px) translateY(0);
        filter: hue-rotate(0);
    }
    50%{
    transform: rotateX(70deg) translateZ(50px) translateY(-50vmin);
    filter: hue-rotate(360deg);
    }
}
/* --------- A propos --------- */
.text-title
{
  font-size: 48px;
  color: #03CBDF;
  text-align: center;
  margin-bottom: 30px;
}

.couleur-texte
{
  color:white;
}
.social{
  display: flex;
  gap: 20px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 5px;
  width: 120px;
  height: 45px;
  margin: 0;
  color: black;
}

.icone
{
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.nav-link , a
{
  color : white;
  font-family: "Ubuntu", sans-serif ;
  font-size: 1.3em;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.1s;
    &:hover,:active{
      color: #03CBDF;
    } 
}
.nav-link.selected
{
 color: #03CBDF;
 
}
.nav-link
{
  padding-right: 20px;
  font-size: 1em;
}

.ma-photo
{
 width: 22%;
 border-radius: 25px;
 object-fit: contain;
}

li
{
  list-style: circle;
}
.grille{
  display: grid;
  grid-template-rows: 3fr 3fr 3fr;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 25px;
}

.icone-prog{
  width: 100px;
  height: 80px;
}
.grille img
{
  background-color: white;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.skill-item
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 2px bisque solid;
  border-radius: 7px;
}
.langage
{
  text-align: center;
  padding-bottom: 40px;
  font-family: "ubuntu", sans-serif;
  font-size: 1.5em;
  color: bisque;
}
.text-language
{
  font-family: "ubuntu", sans-serif;
  color: #03CBDF;
  font-size: 1.3em;
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  color: white;
}

.form-nom-email {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
/*input,
textarea*/ .form-input {
  padding: 15px;
  border-radius: 3px;
  border: 1px solid;
  transition: opacity 200ms ;
      &:hover,&:focus
      {
          opacity: 0.85;
      }
}

label {
  margin-bottom: 10px;
}

/*input[type='submit']*/.cta {
  width: 150px;
  margin: auto;
  margin-top: 30px;
  transition: transform 200ms background-color 200ms;

      &:hover
      {
          transform: scale(1.2);    
          background-color:whitesmoke;
      }
}

/* ---------- Education ------------ */

.etu-exp
{
  display: flex;
  justify-content: space-around;
}
.couleur-bleue
{
  color: #03CBDF;
}

/* -------- Projets ---------- */
.projet .projet-card
{
  display: grid;
  gap: 30px;
  grid-template-columns:repeat(3,1fr) ;
  grid-template-rows: auto;
  justify-items: center;
}

/* ------ Menu burger ----- */
.navigation .menu-burger
{
  display: none;
}
.nav-menu
{
  display: none;
  background-color: #303032;
  width: 100%;
  height: 380px;
  padding-top: 30px;
  padding-bottom: 5px;

}

.nav-menu .nav-lien
  {
    
    font-size: 1.5em;
    color : white;
    font-family: "Ubuntu", sans-serif ;
    margin-left: 30px;
    text-decoration: none;
    transition: color 0.1s;
      &:hover{
        color: #03CBDF;
      } 

  }

/* ------ Responsive ------ */
@media screen and (max-width: 1024px)
{

  body
  {
    font-size: 1.1em;
  }
  section
  {
    padding: 10px 0;
    margin-bottom: 10px 0;
  } 
  footer
  {
    display: flex;
    justify-content: space-between;
  }
  footer img
  {
    display: none;
  }
  .bouton
  {
    width: 100px;
    height: 35px;
    border: 1px solid #03CBDF;
    border-radius: 10px;
    background-color: #03CBDF;
    color: #222230;
    font-size: 0.9em;
  }

  .text-title,.title{
    font-size: 1.7em;
  }
  .navigation
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .nav-bar
  {
    display: none;
  } 
  
  .navigation .menu-burger
  {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .nav-menu
  {
    font-size: 0.8em;
  }
  .nav-menu.open{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: #1f242d;
  }
  .accueil-intro 
  {
    display: flex;
    flex-direction: column-reverse;
    gap:50px;
    max-width: 340px;
    overflow: scroll;
    margin: auto;
  }

  a{
    padding-bottom: 5px;
  }
  .logo
  {
      width: 50px;
      height: 50px;
      padding-top: 10px;
  }

  .ma-photo
  {
   width: 35%;
   border-radius: 8px;
  }

  .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 5px;
    width: 100px;
    height: 35px;
    margin: 0;
    color: black;
  }
  .cercles
  {
    display: none;
  }
  #anime
  {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .img-anime
  {
    display: flex;
    justify-content: center;
  }
  .etu-exp
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;

  }
  .section-contact {
    padding: 50px 20px;
  }

  .form-nom-email {
    flex-direction: column;
    gap: 0;
  }
  .grille
  {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    justify-items: center;
  }
  .grille img
  {
    width: 80%;
    height: 80%;
  }
  .text-language
  {
    font-size: 1em;
  }
  .projet .projet-card
  {
    width: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 0.5fr);
    justify-items: center;
  }
  .presentation
  {
    text-align: center;
  }

}
